.client {
    display: flex;
}
.client__link {
   display: flex;
    justify-content:center;
    align-items: center;
   height: 92px;
   width: 170px;
   fill: rgba(175, 177, 184, 1);
   border: 1px solid rgba(175, 177, 184, 1);
   border-radius: 4px; 
   transition: var(--animation-transition);
   
   &:hover,
   &:focus {
fill: var(--accent-color);
border: 1px solid var(--accent-color);
}
}
.client .client__list+.client__list {
margin-left: 30px;
}
