.logo-footer {
    display: block;
    margin-bottom: 20px;
    color: white;
    font-family: Raleway, cursive, sans-serif;
    font-weight: 700;
    font-size: 26px;
line-height: 1.19;
text-decoration: none;
    }  
    .logo-footer2  {
   color: #2196F3
  }
  .logo-contacts {
    flex-grow: 1;
}