body {
    background-color: #fff;
    color: #757575;
    font-family: Roboto, sans-serif;
    font-style:normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
} 
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.page-header {
    border-bottom:1px solid rgba(236, 236, 236, 1);
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
     }