.networks {
    display: flex;
    justify-content: center;
    
   }
.networks__link {
    display: flex;
    height: 44px;
    width: 44px;
    justify-content:center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: var(--animation-transition);
&:hover,
&:focus {
     background-color: var(--accent-color);
 }
}
.networks__icon {
   fill: var(--white);
   justify-content:center;
   align-items: center;
   transition: var(--animation-transition);
 
   .networks__link:hover &,
   .networks__link:focus & {
     background-color: var(--accent-color);
     }
    }
.networks .networks__list+.networks__list {
    margin-left: 10px;
}
  
.networks-box__title {
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    line-height: 1.17;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.networks-box {
    margin-left: 70px;
    margin-top: 12px;
}