.connection {
    @media screen and (max-width: 767px) {
     margin-top: 300px;
    margin-left: 40px;
    display: flex;
    flex-direction: column-reverse;    
    }
    @media screen and (min-width: 768px) {
        margin-left: 84px;     
        }
        @media screen and (min-width: 1200px) {
           display: flex; 
           margin-left: 305px;     
            }    
        }
   .connection__email, .connection__tel{
    font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);
text-decoration: none;
transition: var(--animation-transition);

&:hover, 
&:focus {
    color: var(--accent-color);}
 }
 .connection__item .connection__tel {
    @media screen and (max-width: 767px) {
      font-size: 34px;
    color: var(--accent-color);   
    }
    @media screen and (min-width: 768px) {
        font-size: 12px;     
        }
        @media screen and (min-width: 1200px) {
            font-size: 14px; 
        margin-left: 30px;
    }
   }
.connection__item .connection__email{
font-size: 34px;
color: var(--text-color);
@media screen and (min-width: 768px) {
   font-size: 12px;     
    }
    @media screen and (min-width: 1200px) {
       font-size: 14px; }
}

.connection__icon {
    @media screen and (max-width: 767px) {
   display: none;     
    }
    @media screen and (min-width: 768px) {
         margin-right: 10px;
    fill: var(--text-color);     
        width: 14px;
    height: 10px; }
    @media screen and (min-width: 1200px) {
    width: 16px;
   height: 12px; }
    

.connection__email:hover &,
.connection__email:focus &,
.connection__tel:hover &,
.connection__tel:focus & {
    fill: var(--accent-color);
    }
}
.mobile-socseti {
    @media screen and (max-width: 767px) {
    display: flex;
    margin-top: 64px;
    margin-left: 40px;    
    }
    @media screen and (min-width: 768px) {
     display: none;      
        }
}
.mobile-socseti__link {
    @media screen and (max-width: 767px) {
     font-size: 18px;
    color: var(--accent-color);
    font-weight: 500;
line-height: 1.22;
letter-spacing: 0.02em;
text-decoration: none;   
    }
  }

.mobile-socseti__list:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
}