.connection {
    display: flex;
    margin-left: auto;
    }
    .connection__tel {
    margin-left: 50px;
}

.connection__email, .connection__tel{
    font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);
text-decoration: none;
transition: var(--animation-transition);

&:hover, 
&:focus {
    color: var(--accent-color);}
 }
 

.connection__icon {
    padding: 0;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--text-color);

.connection__email:hover &,
.connection__email:focus &,
.connection__tel:hover &,
.connection__tel:focus & {
    fill: var(--accent-color);
    }
}