.title {
    padding-top: 0;
     }
 .hero {
    display: block;
    text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.233)),
  url("../images/Header\ 480.jpg");  
  background-repeat: no-repeat;
  
  height: 400px;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-top: 118px;
  padding-bottom: 118px;
    
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image: url("../images/Header\ 480@2x.jpg");
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 480px;
  }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.233)),
    url("../images/Header\ 768.jpg");  
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/Header\ 768@2x.jpg");
 }

}
@media screen and (min-width: 1200px) {
  height: 600px;  
  max-width: 1600px; 
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.233)),
  url("../images/Fon-header.jpg");   
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
   background-image: url("../images/Header\ 1200@2x.jpg");
  }
}
@media screen and (min-width: 1600px) {
  width: 1600px;
}
  }
 .hero__title {
     margin-top: 0;
     margin-bottom: 30px;
     width: 100%;
     text-transform: uppercase;
     color: var(--white);
     font-weight: 900;
 font-size: 26px;
 line-height: 1.62;
 letter-spacing: 0.06em;
 text-align: center;
 
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
 }
}
 
 .hero__button {
     display: inline-block;
     cursor: pointer;
     font-family: inherit;
     color: var(--white);
     background-color: var(--accent-color);
     font-weight: 700;
     border-radius: 4px;
     padding: 10px 32px;
     margin-left: auto;
     margin-right: auto;
     min-width: 200px;
 font-size: 16px;
 line-height: 1.88;

 text-align: center;
 letter-spacing: 0.06em;
 }